<header class="navbar">
  <h2><a href="/">Earphone Store</a></h2>

  <nav>
    <a href="/">Home</a>
    <a href="/products">Products</a>
    <a href="/products/new">Add Product</a>
    <a href="/cart">Cart</a>
    <a href="/auth/login">Login</a>
  </nav>
</header>
